body {
  background-image: url("../../../dist/images/livello-2.jpg");
  background-repeat: repeat;
  background-size: cover;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: $primo;
}

p {
  font-family: 'Tangerine', cursive;
  color: $secondo;
}
