* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Right Strongline';
  src: url('../../font/Right Strongline.ttf');
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: $primo;
}

strong {
  font-family: 'Josefin Sans', sans-serif;
  color: $terzo;
  font-weight: 900;
}

p,
a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

li {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
