footer {
  padding-top: 150px;
  padding-bottom: 150px;

  h3 {
    margin-bottom: 50px;
    color: $terzo;
    text-align: center;
  }

  .contatti {
    width: 100%;

    &--gabriele,
    &--caterina {
      padding: 15px;
    }

    p {
      font-weight: 200;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
}
