header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  @include my-flex(center, center, row);
  background-color: $quarto;
  position: fixed;
  border-bottom: 1px solid $terzo;
  z-index: 9999999999999999;

  .navbar-menu {
    @include my-flex(center, center, row);

    @include media-breakpoint-down(lg) {
      display: none;
    }

    ul {
      @include my-flex(center, center, row);
      margin-bottom: 0;
      color: $primo;
      position: relative;

      li {

        a {
          text-decoration: none;
          color: $primo;
          line-height: 0.4rem;
          padding: 5px;
          border-bottom: 1px solid transparent;
          transition: 300ms;

          &:hover {
            border-bottom: 1px solid $primo;
            cursor: pointer;
          }
        }

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }

    .menu-left,
    .menu-right {
      font-size: 0.4rem;
      font-weight: 700;
    }

    .logo {
      margin: 0 50px;

      h1 {
        font-family: 'Right Strongline', cursive;
        font-size: clamp(0.8rem, 2vw, 2rem);
      }
    }
  }

  .hamburger {
    display: none;

      @include media-breakpoint-down(lg) {
        height: 100%;
        color: $primo;
        display: flex;
      }

      .logo {

        @include my-flex(flex-start, center, row);

        h1 {
          font-family: 'Right Strongline', cursive;
          font-size: clamp(0.7rem, 2vw, 3rem);
          margin-bottom: 0;
        }
      }

      .icon-menu-wrap {
        @include my-flex(flex-end, center, row);

        .icon-menu {

          @include my-flex(center, center, row);
          transition: 300ms;
          width: 30px;
          height: 30px;

          &:hover {
            background-color: $terzo;
            cursor: pointer;
          }

          &--bar {
            width: 22px;
            height: 2px;
            background-color: $primo;
            position: relative;

            &::before {
              content: '';
              position: absolute;
              width: 22px;
              height: 2px;
              background-color: $primo;
              top: -5px;
            }

            &::after {
              content: '';
              position: absolute;
              width: 22px;
              height: 2px;
              background-color: $primo;
              top: 5px;
            }
          }
        }
      }
    }

    .modal-menu-wrap {
      display: none;
      width: 100vw;
      height: 100vh;
      background-color: $quarto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999999;

      @include media-breakpoint-up(md) {
        display: none;
      }

      .modal-logo {
        @include my-flex(center, center, row);
        margin-top: 50px;

        h1 {
          color: $primo;
          font-family: 'Right Strongline', cursive;
          font-size: clamp(0.6rem, 2vw, 1rem);
          margin-bottom: 0;
          margin-top: 30px;
        }
      }

      .modal-menu-list {
        @include my-flex(center, center, column);
        font-size: clamp(0.5rem, 1.8vw, 2.5rem);
        margin-top: 100px;

        li {
          margin-bottom: 40px;
          color: $primo;
          padding: 10px 15px 6px;

          a {
            text-decoration: none;
            color: $primo;
          }
        }

        .regalo-modal {
          border: 1px solid $primo;

          a {
            font-weight: 400;
          }
        }
      }

      .modal-menu-close {
        position: absolute;
        top: 35px;
        right: 35px;
        padding: 10px;
        cursor: pointer;

        .close-menu-icon {
          width: 22px;
          height: 2px;
          background-color: $primo;
          transform: rotate(45deg);

          &::before {
            content: '';
            position: absolute;
            width: 22px;
            height: 2px;
            background-color: $primo;
            transform: rotate(-90deg);
          }
        }
      }
    }

    .active {
      display: block;
    }
  }




















// END
